body {
    background: linear-gradient(to bottom, rgba(225, 231, 224, 0.95) 0%, rgba(106, 176, 164, 0.85) 100%), url(/images/code2.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #2B4560;
    font-family: 'Varela Round', sans-serif;
}

#title {
    text-decoration: underline;
}

.container, #mainNavbar {
    padding: 0;
}

.siteName {
    width: auto;
}

span .fas.fa-bars {
    font-size:28px;
    color: #2B4560;
}

ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #E1E7E0;
    border: 2px solid #2B4560;
    box-sizing: border-box;
    border-radius: 50%;
    transition: .5s;
    overflow: hidden;
}

ul li:hover {
    background: #2B4560;
    cursor: pointer;
}

ul li .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #2B4560;
    transition: .5s;
}

ul li .fas:nth-child(1) {
    left: -50%;
    opacity: 1;
}

ul li:hover .fas:nth-child(1) {
    left: 50%;
    opacity: 1;
    color: #E1E7E0;
}

ul li:hover .fas:nth-child(2) {
    left: 150%;
    opacity: 0;
}

#logoutButton {
    background: transparent;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

main  {
    margin-top: 8%;
    margin-bottom: 15%;
}

.profile {
    background: #E1E7E0;
    border-radius: .25rem;
    box-shadow: 0px 0px 10px -2px rgba(43,69,96,0.61);
    margin: auto;
    font-size: 20px;
}

.profile .row {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
}

.profile .col-2.text-right {
    padding: 0;
}

.component {
    padding: 0;
}

.profile .addSkill {
    text-align: end;
}

.profile .addSkill input {
    background: transparent;
    border: 1px solid #2B4560;
}

.profile button {
    background: transparent;
    border: none;
}

.normalButton {
    color: #2B4560;
    font-size: 1.3rem;
}

.normalButton.headerButton {
    font-size: 2em;
}

.normalButton:hover {
    color: #6AA4B0;
    cursor: pointer;
}

.deleteButton {
    color: #2B4560;
    font-size: 1.3rem;
}

.deleteButton:hover {
    color: #ff3333;
    font-size: 1.3rem;
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    margin-bottom: 0;
    padding-right: 2px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    width: 135px;
    border: 1px solid #2B4560;
}

/*.inputfile:focus + label,
.inputfile + label:hover {
    color: black;
;
}*/

.highlight {
    background: rgb(106, 163, 176, 0.5);
}
.fourthSkill {
    border-top: 1px solid #2B4560;
}

/*TODO - turha?*/
#skillTable td {
    padding: 0;
    line-height: 1.8;
}

#skillTable .skill {
    width: 200px;
}

#skillTable .deleteButton {
    padding: 0;
}

.skillInput {
    width: 135px;
    cursor: pointer;
}

/* webkit solution */
::-webkit-input-placeholder {
    text-align:right;
    color: #2B4560;
}

/* mozilla solution */
input:-moz-placeholder {
    text-align:right;
    color: #2B4560;
}

.navbar a {
    color: white;
}
.navbar a:hover {
    text-decoration: underline;
}

.sectionImage {
    background-image: url("/images/section2.jpg");
    width: 100%;
    height: 40%;
    object-fit: cover;
}



