<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='SkillerApp - Contacts')" lang="en">
        <title>Contacts</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: header"></header>

            <main>
                <div class="col-10 col-md-8 col-lg-7 col-xl-6 content-area pb-2">

                    <!--TITLE-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto text-center">
                            <h1>Your contacts</h1>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <!--CONTENT-->
                    <div class="col">
                        <div class="col p-0">
                            <div th:if="${currentAccount.contacts.size() == 0
                                 && currentAccount.receivedContactRequests.size() == 0
                                 && currentAccount.sentContactRequests.size() == 0}" class="text-center">
                                No contacts yet! Please make a contactrequest from the user's profile page!
                            </div>
                            
                            <!--CONTACTS-->
                            <table>
                                <tbody>
                                    <tr th:each="contact : ${currentAccount.contacts}">
                                        <td class="contact">
                                            <form th:action="@{/profiles/{profile}/contacts/{id}(profile = ${currentAccount.profile}, id = ${contact.id})}" th:method="DELETE">
                                                <button class="deleteButton" type="submit" title="Remove from contacts"><i class="fas fa-user-minus"></i></button>
                                            </form> 
                                        </td>
                                        <td style="width: 50px;">
                                            <img th:if="${contact.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                            <img th:unless="${contact.image == null}" th:src="@{/profiles/{profile}/image(profile=${contact.profile})}" width="100%"/>
                                        </td>
                                        <td>
                                            <a th:href="@{/profiles/{profile}(profile = ${contact.profile})}" class="normalButton">
                                                <span th:text="${contact.name}">name</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr/>
                        </div>

                        
                        <!--RECEIVED CONTACTREQUESTS-->
                        <div th:if="${currentAccount.receivedContactRequests.size() > 0}" class="col p-0">
                            <h4>Waiting for your action</h4>
                            <table>
                                <tbody>
                                    <tr th:each="receivedContactRequest : ${currentAccount.receivedContactRequests}">
                                        <td class="contact">
                                            <a th:href="@{/profiles/{profile}/contacts/{id}/approve_contact(profile=${currentAccount.profile}, id=${receivedContactRequest.id})}" class="normalButton">
                                                <button class="normalButton" title="Approve contact request"><i class="fas fa-user-plus"></i></button>
                                            </a>
                                            <span> / </span>
                                            <a th:href="@{/profiles/{profile}/contacts/{id}/decline_contact(profile=${currentAccount.profile}, id=${receivedContactRequest.id})}" class="normalButton">
                                                <button class="deleteButton" title="Decline contact request"><i class="fas fa-user-minus"></i></button>
                                            </a>
                                        </td>
                                        <td style="width: 50px;">
                                            <img th:if="${receivedContactRequest.askingAccount.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                            <img th:unless="${receivedContactRequest.askingAccount.image == null}" th:src="@{/profiles/{profile}/image(profile=${receivedContactRequest.askingAccount.profile})}" width="100%"/>
                                        </td>
                                        <td>
                                            <a th:href="@{/profiles/{profile}(profile = ${receivedContactRequest.askingAccount.profile})}" class="normalButton">
                                                <span th:text="${receivedContactRequest.askingAccount.name}">name</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr/>
                        </div>

                        
                        <!--SENT CONTACTREQUESTS-->
                        <div th:if="${currentAccount.sentContactRequests.size() > 0}" class="col p-0">
                            <h4>Waiting for contact's action</h4>
                            <table>
                                <tbody>
                                    <tr th:each="sentContactRequest : ${currentAccount.sentContactRequests}">
                                        <td style="width: 50px;">
                                            <img th:if="${sentContactRequest.targetAccount.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                            <img th:unless="${sentContactRequest.targetAccount.image == null}" th:src="@{/profiles/{profile}/image(profile=${sentContactRequest.targetAccount.profile})}" width="100%"/>
                                        </td>
                                        <td>
                                            <a th:href="@{/profiles/{profile}(profile = ${sentContactRequest.targetAccount.profile})}" class="normalButton">
                                                <span th:text="${sentContactRequest.targetAccount.name}">name</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
