<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Contacts</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <!--TODO - käyttäjän oma sivu, modelina saatava käyttäjä-->
        <div class="container">
            <h2>Contacts</h2>

            <p><span th:text="${currentAccount.name}">name</span>'s contacts</p>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <table class="table table-borderless">
                        <caption>Your contacts:</caption>
                        <tbody>
                            <tr th:each="contact : ${currentAccount.contacts}">
                                <td>
                                    <a th:href="@{/profiles/{profile}(profile = ${contact.profile})}">
                                        <span th:text="${contact.name}">name</span>
                                    </a>
                                </td>
                                <td>
                                    <!--TODO - icon-->
                                    <form th:action="@{/profiles/{profile}/contacts/{id}/delete(profile = ${currentAccount.profile}, id = ${contact.id})}" th:method="delete">
                                        <button class="btn btn-sm btn-danger" type="submit">delete</button>
                                    </form> 
                                </td>
                                <!--TODO - delete nappi tänne-->
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <caption>Waiting for your approval</caption>
                        <tbody>
                            <tr th:each="receivedContact : ${currentAccount.receivedContacts}">
                                <td>
                                    <a th:href="@{/profiles/{profile}(profile = ${receivedContact.askingAccount.profile})}">
                                        <span th:text="${receivedContact.askingAccount.name}">name</span>
                                    </a>
                                </td>
                                <td>
                                    <!--TODO - tähän jotkut sopivat iconit mieluummin-->
                                    <a th:href="@{/profiles/{profile}/contacts/{id}/approve_contact(profile=${currentAccount.profile}, id=${receivedContact.id})}">
                                        <button class="btn btn-sm btn-success">accept</button>
                                    </a>
                                    <a th:href="@{/profiles/{profile}/contacts/{id}/decline_contact(profile=${currentAccount.profile}, id=${receivedContact.id})}">
                                    <button class="btn btn-sm btn-danger">decline</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless">
                        <caption>Waiting for users approval</caption>
                        <tbody>
                            <tr th:each="sentContact : ${currentAccount.sentContacts}">
                                <td>
                                    <a th:href="@{/profiles/{profile}(profile = ${sentContact.targetAccount.profile})}">
                                        <span th:text="${sentContact.targetAccount.name}">name</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
