<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Edit profile</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <!--TODO - käyttäjän oma sivu, modelina saatava käyttäjä-->
        <div class="container">
            <h2>Profile</h2>

            <p>Tervetuloa <span th:text="${currentAccount.profile}">profiili</span>!</p>

            <div>
                <a th:href="@{/profiles/{profile}(profile=${currentAccount.profile})}"><button class="btn btn-sm btn-success">back</button></a>
            </div>

            <div class="card" style="width: 18rem;">
                <div>
                    <img th:if="${currentAccount.image != null}" th:src="@{/profiles/{profile}/image/content(profile=${currentAccount.profile})}" width="200" height="200"/>
                    <img th:unless="${currentAccount.image != null}" th:src="@{/images/no_image.png}" width="200" height="200"/>
                    <div th:if="${currentAccount.image != null}">
                        <a th:href="@{/profiles/{profile}/image/delete(profile=${currentAccount.profile})}"><button class="btn btn-sm btn-danger">delete image</button></a>
                    </div>
                </div>
                <div th:if="${currentAccount.image == null}">
                    <form th:action="@{/profiles/{profile}/image(profile=${currentAccount.profile})}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="image"/>
                        <button class="btn btn-sm btn-primary">add image</button>
                    </form>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Skills</h5>
                    <table id="skillTable" class="table table-borderless">
                        <tbody>
                            <!--TODO - eri kuin profiilissa.. onko ok?-->
                            <tr th:each="skill : ${currentAccount.skills}">
                                <td>
                                    <!--TODO - fontawesomesta tms icon tähän-->
                                    <form th:action="@{/profiles/{profile}/skills/{id}/delete(profile = ${currentAccount.profile}, id = ${skill.id})}" th:method="delete">
                                        <button class="btn btn-sm btn-danger" type="submit">del</button>
                                    </form> 
                                </td>
                                <td th:text="${skill.content}">skill</td>
                            </tr>
                        </tbody>
                    </table>
                    <form th:action="@{/profiles/{profile}/skills(profile=${currentAccount.profile})}" th:object="${skill}" method="POST">
                        <input type="text" th:field="*{content}" placeholder="add a skill"/>
                        <small th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="form-text text-danger">virheviesti</small>
                        <input type="submit" value="add"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
