<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Otsikko</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <div class="container">
            <div class="row" th:each="message : ${messages}">
                <div class="col-12">
                    <div class="card w-75">
                        <div class="card-header">
                            <div>
                                <span th:text="${message.account.name}">name</span>
                                <!--TODO - muokkaa päivämäärän esitys paremmaksi? oikealle?-->
                                <span th:text="'at ' + ${#temporals.format(message.date, 'dd.MM.yyyy HH:mm')}">date</span>
                            </div>
                            <!--TODO - päivämäärä samalle riville kuin nimi, oikeaan reunaan-->
                            <!--TODO - <span th:text="'at ' + ${#temporals.format(message.messageTimeStamp, 'dd.MM.yyyy HH:mm')} + ':'" class="font-weight-light"></span> --> 
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:id="${message.id}" th:text="${message.content}">content</p>
                            <div class="text-right">
<!--                                TODO - jos käyttää formia, täytyy pakottaa blockline tms css:stä
                                <form th:if="${currentAccount == message.account}" th:action="@{/messages/{id}(id=${message.id})}" method="DELETE">
                                    <button class="btn btn-sm btn-danger">delete</button>
                                </form>-->
                                <a th:if="${currentAccount == message.account}" th:href="@{/{currentPage}/messages/{id}(currentPage = ${currentPage}, id = ${message.id})}" class="btn btn-sm btn-danger">delete</a>
                                <form th:action="@{/{currentPage}/messages/{id}/comments(currentPage = ${currentPage}, id = ${message.id})}" method="POST">
                                    <input type="text" name="content" placeholder="add a comment"/>
                                    <button class="btn btn-sm btn-primary">add</button>
                                </form>
                                <!--TODO - saako linkitettyä ..like#{id}-->
                                <a th:href="@{/{currentPage}/messages/{id}/like(currentPage = ${currentPage}, id = ${message.id})}" class="btn btn-sm btn-primary">like</a>
                                <span th:text="${#lists.size(message.likes)}">likes</span>
                                <footer class="blockquote-footer">date</footer>
                            </div>
                        </div>
                        <div th:each="comment : ${message.comments}">
                            <!--TODO - muokkaa luokkaa comment css:ssä-->
                            <div class="comment" th:text="${comment.content}">
                                comment
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a th:if="${currentPage > 1}" th:href="@{/{currentPage}/messages(currentPage = ${currentPage} - 1)}"><span>previous</span></a>
                <a th:if="${currentPage < totalPages}" th:href="@{/{currentPage}/messages(currentPage = ${currentPage} + 1)}"><span>next</span></a>
            </div>
            <!--TODO - nämä pois, turhia-->
            <div>current page: [[${currentPage}]], total pages: [[${totalPages}]]</div>
            <div>
                <form th:action="@{/messages}" method="POST">
                    <textarea name="content" rows="4" cols="50" placeholder="Add a message"></textarea>
                    <button class="btn btn-lg btn-success">Send</button>
                </form>
            </div>
        </div>
    </body>
</html>
