<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--TODO - otsikko, screen width kännykälle sopivaksi (tämä kaikkiin sivuihin ja fragmentsiin)-->
        <title>Sivun otsikko</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" defer></script>
    </head>
    <body>

        <!--TODO - RESPONSIVE PAGE-->

        <div class="container">
            <div id="landing-header">
                <h1>Welcome</h1>
                <div class="col-3 mx-auto">
                    <div>
                        <a href="/login"><button class="btn btn-lg btn-success landing">Login</button></a>
                        <p>Or read more and</p>
                        <a href="/signup"><button class="btn btn-lg btn-success landing">Sign Up!</button></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </body>
</html>
