<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Otsikko</title>
    </head>
    <body>

        <div class="container">
            <nav th:replace="fragments/layout :: logo"></nav>
            <main>
                <div class="col-9 col-sm-8 col-md-7 col-lg-5 col-xl-4 mx-auto content-area login pb-3">
                    <h1 class="content-center">Login</h1>
                    <hr/>
                    <form class="text-center" th:action="@{/login}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" placeholder="username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" placeholder="password"/>
                        </div>
                        <button class="normalButton headerButton"><i class="fas fa-sign-in-alt"></i></button>
                    </form>
                </div>
            </main>
        </div>

    </body>
</html>
