<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='SkillerApp - Messages')" lang="en">
        <title>Otsikko</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: header"></header>

            <main>

                <!--ADD NEW MESSAGE-->
                <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 d-flex justify-content-center content-area pt-3 pb-3">
                    <form class="text-area" th:action="@{/messages}" method="POST">
                        <textarea name="content" rows="3" cols="30" placeholder="Add a message"></textarea>
                        <button class="normalButton headerButton forumButton">
                            <i class="fas fa-share-square"></i>
                        </button>
                    </form>
                </div>

                <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 content-area pb-2">

                    <!--TITLE-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto text-center">
                            <h1>Messages</h1>
                        </div>
                    </div>

                    <hr/>

                    <!--MESSAGE AREA-->
                    <div th:each="message : ${messagePage.content}" class="col-12 message mb-5">

                        <!--MESSAGE HEADER-->
                        <div class="row d-flex mb-0 pb-1 px-0 pt-1">
                            <div class="col-12 col-md-11 col-lg-9 col-xl-9 pl-0 pr-0">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <!--MESSAGE PROFILE PICTURE-->
                                            <td style="width: 50px;">
                                                <img th:if="${message.account.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                                <img th:unless="${message.account.image == null}" th:src="@{/profiles/{profile}/image(profile=${message.account.profile})}" width="100%"/>
                                            </td>

                                            <!--MESSAGE SENDER-->
                                            <td class="pr-0">
                                                <a th:href="@{/profiles/{profile}/(profile = ${message.account.profile})}" class="normalButton">
                                                    <span th:text="${message.account.name}">name</span>
                                                </a>
                                            </td>

                                            <!--MESSAGE DATE-->
                                            <td class="pr-0 pr-lg-4 pr-xl-5">
                                                <small class="text-muted" th:text="'at ' + ${#temporals.format(message.date, 'dd.MM.yyyy HH:mm')}">date</small>
                                            </td>

                                            <!--MESSAGE NUMBER OF LIKES-->
                                            <td th:id="${message.id}" class="pr-0 pl-md-2 pl-lg-3">
                                                <span th:text="${messageService.getLikes(message.id)}">likes</span>
                                            </td>

                                            <!--MESSAGE LIKE BUTTON-->
                                            <td class="pr-0 pr-xl-2">
                                                <form th:if="${message.likes.contains(currentAccount)}" th:action="@{/messages/{id}(msgPage = ${messagePage.number}, id = ${message.id})}" th:method="PUT">
                                                    <button class="deleteButton" title="Remove like"><i class="fas fa-thumbs-down"></i></button>
                                                </form>
                                                <form th:unless="${message.likes.contains(currentAccount)}" th:action="@{/messages/{id}(msgPage = ${messagePage.number}, id = ${message.id})}" th:method="PUT">
                                                    <button class="normalButton" title="Like"><i class="fas fa-thumbs-up"></i></button>
                                                </form>
                                            </td>

                                            <!--MESSAGE DELETE-->
                                            <td class="pl-0 pl-md-2 pl-lg-4">
                                                <form th:if="${currentAccount == message.account}" th:action="@{/messages/{id}(msgPage = ${messagePage.number}, id = ${message.id})}" th:method="DELETE">
                                                    <button class="deleteButton pr-0" title="Delete message"><i class="fas fa-minus-circle"></i></button>
                                                </form>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--MESSAGE CONTENT-->
                        <div class="row mb-0 pb-3">
                            <div class="col-11 col-md-10 col-lg-9 col-xl-9 pl-1 pr-1 mb-0 message-content">
                                <p class="forum-text" th:text="${message.content}">message content</p>
                            </div>
                        </div>

                        <!--COMMENT AREA-->
                        <div th:if="${message.comments.size() > 0}" class="row d-flex justify-content-end mb-0 pb-0 pl-0">
                            <small class="text-muted">Showing only last 10 comments</small>
                        </div>
                        <div th:if="${message.comments.size() > 0}" th:each="comment : ${messageService.getComments(message.id)}">
                                <!--<div th:if="${message.id == commentList.get(0).getMessage().getId()}" th:each="comment : ${commentList}">-->
                                    <!--COMMENT HEADER-->
                                    <div id="comment-header" class="row d-flex justify-content-end mb-0 pb-1 pt-4 pl-0">
                                        <div class="col-10 col-md-9 col-lg-8 col-xl-7 px-0">
                                            <table style="width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <!--COMMENT PROFILE PICTURE-->
                                                        <td style="width: 25px;">
                                                            <img th:if="${comment.account.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                                            <img th:unless="${comment.account.image == null}" th:src="@{/profiles/{profile}/image(profile=${comment.account.profile})}" width="100%"/>
                                                        </td>

                                                        <!--COMMENT SENDER-->
                                                        <td class="pr-1">
                                                            <a th:href="@{/profiles/{profile}/(profile = ${comment.account.profile})}" class="normalButton commentButton">
                                                                <span th:text="${comment.account.name}">name</span>
                                                            </a>
                                                        </td>

                                                        <!--COMMENT DATE-->
                                                        <td>
                                                            <small class="text-muted" th:text="'at ' + ${#temporals.format(comment.date, 'dd.MM.yyyy HH:mm')}">date</small>
                                                        </td>

                                                        <!--COMMENT NUMBER OF LIKES-->
                                                        <td th:id="${comment.id}" class="pr-0 pl-md-2 pl-lg-3">
                                                            <span th:text="${#lists.size(comment.likes)}">likes</span>
                                                        </td>

                                                        <!--COMMENT LIKE-->
                                                        <td class="pr-0 pr-xl-2">
                                                            <form th:if="${comment.likes.contains(currentAccount)}" th:action="@{/messages/{id}/comments/{commentId}(msgPage = ${messagePage.number}, id = ${message.id}, commentId = ${comment.id})}" th:method="PUT">
                                                                <button class="deleteButton commentButton" title="Remove like"><i class="fas fa-thumbs-down"></i></button>
                                                            </form>
                                                            <form th:unless="${comment.likes.contains(currentAccount)}" th:action="@{/messages/{id}/comments/{commentId}(msgPage = ${messagePage.number}, id = ${message.id}, commentId = ${comment.id})}" th:method="PUT">
                                                                <button class="normalButton commentButton" title="Like"><i class="fas fa-thumbs-up"></i></button>
                                                            </form>
                                                        </td>

                                                        <!--COMMENT DELETE-->
                                                        <td class="pl-0 pl-md-2 pl-lg-4">
                                                            <form th:if="${currentAccount == comment.account}" th:action="@{/messages/{id}/comments/{commentId}(msgPage = ${messagePage.number}, id = ${message.id}, commentId = ${comment.id})}" th:method="DELETE">
                                                                <button class="deleteButton commentButton pr-0" title="Delete comment"><i class="fas fa-minus-circle"></i></button>
                                                            </form>
                                                            <i th:unless="${currentAccount == comment.account}" class="fas fa-minus-circle" style="opacity: 0;"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!--COMMENT CONTENT-->
                                    <div class="row d-flex justify-content-end mb-0 pb-1">
                                        <div class="col-10 col-md-9 col-lg-8 col-xl-7 pl-1 pr-1 mb-0 comment-content">
                                            <p class="forum-text" th:text="${comment.content}">comment content</p>
                                        </div>
                                    </div>
                                <!--</div>-->
                        </div>

                        <!--ADD COMMENT-->
                        <div class="row d-flex justify-content-end mb-0 pb-1 mt-2 pl-0">
                            <div class="col-10 col-md-9 col-lg-8 col-xl-7 px-0">
                                <form class="text-area" th:action="@{/messages/{id}/comments(msgPage = ${messagePage.number}, id = ${message.id})}" method="POST">
                                    <textarea name="content" placeholder="add a comment" cols="50"></textarea>
                                    <button class="normalButton">
                                        <i class="fas fa-comment-dots"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <!--MESSAGES NEXT AND PREVIOUS PAGES-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a th:if="${messagePage.hasPrevious()}" th:href="@{/messages(msgPage = ${messagePage.number} - 1)}" class="normalButton headerButton">
                                <i class="fas fa-angle-double-left d-flex"></i>
                            </a>
                        </div>
                        <div th:if="${messagePage.totalPages > 0}" class="col-3 d-flex justify-content-center align-items-center">
                            <span th:if="${messagePage.totalPages == 1}">page 1 of 1</span>
                            <span th:unless="${messagePage.totalPages == 1}">page [[${messagePage.number} + 1]] of [[${messagePage.totalPages}]]</span>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <a th:if="${messagePage.hasNext()}" th:href="@{/messages(msgPage = ${messagePage.number} + 1)}" class="normalButton headerButton">
                                <i class="fas fa-angle-double-right d-flex"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </main>
        </div>

    </body>
</html>
