<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Profile page</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
        <!--TODO - käyttäjän oma sivu, modelina saatava käyttäjän nimi-->
        <div class="container">
            <!--TODO - sivun otsikossa käyttäjän nimi, ei profiilinimi-->
            <h2>Profile page of <span th:text="${account.name}">name</span></h2>
            <!--TODO - tämä näkyviin vain, mikäli ei ole entuudestaan contactia tai contactipyyntöjä kumpaankaan suuntaan-->
            <div th:if="${currentAccount != account && !contactDoneOrPending}">
                <a th:href="@{/profiles/{profile}/contacts/send_contact_request(profile=${account.profile})}">
                    <button class="btn btn-sm btn-primary">Make contact!</button>
                </a>
            </div>



            <p>Tervetuloa <span th:text="${account.name}">name</span>!</p>

            <div>
                <a th:if="${currentAccount == account}" th:href="@{/profiles/{profile}/edit(profile=${account.profile})}"><button class="btn btn-sm btn-success">edit</button></a>
            </div>

            <div class="card" style="width: 18rem;">
                <!--TODO - tässä on toistoa edit sivun kanssa, tee fragment-->
                <img th:if="${account.image != null}" th:src="@{/profiles/{profile}/image/content(profile=${account.profile})}" width="200" height="200">
                    <img th:unless="${account.image != null}" th:src="@{/images/no_image.png}" width="200" height="200"/>
                    <div class="card-body">
                        <h5 class="card-title">Skills</h5>
                        <table id="skillTable" class="table table-borderless">
                            <tbody>
                                <tr th:each="skill : ${skills}">
                                    <td th:text="${skill.content}">skill</td>
                                    <td class="praises">
                                        <!--TODO - tähän joku icon (peukku tms), mitä painamalla kehu lisätään-->
                                        <span th:text="${#lists.size(skill.praises)}">praises</span>
                                        <a th:href="@{/profiles/{profile}/skills/{id}/praise(profile = ${account.profile}, id = ${skill.id})}"><span>kehu</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </body>
</html>
