<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='SkillerApp - Profile')" lang="en">
        <title>Profile page</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: header"></header>

            <main>
                <div class="col-11 content-area">

                    <!--TITLE-->
                    <div class="row align-items-center pt-2">
                        <div class="col-10">
                            <h1><span th:text="${account.name}">name</span></h1>
                        </div>
                        <div class="col-2 text-right p-0">
                            <a th:if="${currentAccount != account && !contactDoneOrPending}" th:href="@{/profiles/{profile}/contacts/send_contact_request(profile=${account.profile})}" title="Send contact request">
                                <i class="fas fa-user-plus normalButton headerButton"></i>
                            </a>
                            <a th:if="${currentAccount == account}" th:href="@{/profiles/{profile}/skills(profile=${account.profile})}" title="Edit your profile">
                                <i class="fas fa-user-edit normalButton headerButton"></i>
                            </a>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <!--CONTENT-->
                    <div class="row">
                        <div class="col-5 p-0 d-flex justify-content-center align-items-center">
                            <div class="col-7 p-0">
                                <img th:if="${account.image != null}" th:src="@{/profiles/{profile}/image(profile=${account.profile})}" width="100%"/>
                                <img th:unless="${account.image != null}" th:src="@{/images/no_image.png}" width="100%"/>
                            </div>
                        </div>
                        <div class="col-7 p-0 d-flex justify-content-center">
                            <div class="p-0">
                                <h2 class="text-center">Skills</h2>
                                <table class="d-flex justify-content-center" id="skillTable">
                                    <tbody>
                                        <tr th:each="skill : ${skills}">
                                            <td th:text="${skill.content}" class="skill">
                                                skill
                                            </td>
                                            <td th:text="${#lists.size(skill.praises)}" class="pr-2">
                                                praises
                                            </td>
                                            <td class="praise">
                                                <form th:if="${skill.praises.contains(currentAccount)}" th:action="@{/profiles/{profile}/skills/{id}(profile = ${account.profile}, id = ${skill.id})}" th:method="PUT">
                                                    <button id="addPraise" class="deleteButton" title="Remove like"><i class="fas fa-thumbs-down"></i></button>
                                                </form>
                                                <form th:unless="${skill.praises.contains(currentAccount)}" th:action="@{/profiles/{profile}/skills/{id}(profile = ${account.profile}, id = ${skill.id})}" th:method="PUT">
                                                    <button id="removePraise" class="normalButton" title="Like"><i class="fas fa-thumbs-up"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script type="text/javascript" th:src="@{/javascript/profile.js}" defer></script>
    </body>
</html>
