<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <title>Otikko</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: header"></header>

            <main>
                <div class="col-10 col-md-8 col-lg-7 col-xl-6 content-area pb-5">

                    <!--OTSAKE-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto text-center">
                            <h1>Search users</h1>
                        </div>
                    </div>
                    
                    <hr/>
                    
                    <!--SISÄLTÖ-->
                    <div class="col">
                        <div class="col component">
                            <form class="form-inline my-2 my-lg-0 content-center pb-4" th:action="@{/search}" method="GET">
                                <input class="search-input" type="search" name="keyword" placeholder="Search users"/>
                                <button class="normalButton"><i class="fas fa-search"></i></button>
                            </form>
                        </div>

                        <div th:if="${accounts != null}" class="col component">
                            <table class="content-center">
                                <tbody>
                                    <tr th:each="account : ${accounts}">
                                        <td style="width: 50px;">
                                            <img th:if="${account.image == null}" th:src="@{/images/no_image.png}" width="100%"/>
                                            <img th:unless="${account.image == null}" th:src="@{/profiles/{profile}/image/content(profile=${account.profile})}" width="100%"/>
                                        </td>
                                        <td>
                                            <a th:href="@{/profiles/{profile}/(profile = ${account.profile})}" class="normalButton">
                                                <span th:text="${account.name}">name</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
